Repository dnd-side-project/dnd-13th-5-frontend, pull requests merged in 2025-08, with the labels that each got.

#21 feat: 공통 button 컴포넌트를 구현한다
  src/shared/ui/button/Button.tsx
  src/shared/ui/button/IconButton.tsx
  src/shared/ui/button/index.ts
Labels: ✨ Feature, 🎨 Html&css

#15 feat: 공통 dialog 컴포넌트를 구현한다
  .prettierrc
  package.json
  pnpm-lock.yaml
  src/shared/ui/dialog/Dialog.tsx
  src/shared/ui/dialog/index.ts
Labels: ✨ Feature

#17 feat: 공통 input 컴포넌트를 구현한다
  src/shared/ui/input/Input.tsx
  src/shared/ui/input/index.ts
Labels: ✨ Feature, 🎨 Html&css

#24 feat: 공통 tag 컴포넌트를 구현한다
  package.json
  pnpm-lock.yaml
  src/shared/ui/tag/Tag.tsx
  src/shared/ui/tag/index.ts
Labels: ✨ Feature

#30 feat: comparison 관련 컴포넌트 및 페이지를 구현한다
  src/app/providers/AppRouter.tsx
  src/entities/comparison/model/types.ts
  src/lib/utils.ts
  src/pages/comparison/ComparisonAddPage.tsx
  src/pages/comparison/ComparisonPage.tsx
  src/pages/comparison/index.ts
  src/shared/config/routes.ts
  src/shared/lib/format.ts
  src/shared/lib/scroll.ts
  src/shared/ui/button/Button.tsx
  src/shared/ui/button/IconButton.tsx
  src/shared/ui/carousel/Carousel.tsx
  src/shared/ui/contents-card/ContentsCard.tsx
  src/shared/ui/dropdown/Dropdown.tsx
  src/shared/ui/header/Header.tsx
  src/shared/ui/icon/Icon.tsx
  src/shared/ui/pagination/PaginationDots.tsx
  src/shared/ui/progress/ProgressBar.tsx
  src/shared/ui/tab/Tabs.tsx
  src/widgets/comparison-card/model/types.ts
  src/widgets/comparison-card/ui/ComparisonAddCard.tsx
  src/widgets/comparison-card/ui/ComparisonCard.tsx
  src/widgets/comparison-section/model/types.ts
  src/widgets/comparison-section/ui/ComparisonAddSection.tsx
  src/widgets/comparison-section/ui/ComparisonMySubSection.tsx
  src/widgets/comparison-section/ui/ComparisonResultSection.tsx
  src/widgets/comparison-section/ui/RecommendSubSection.tsx
Labels: ✨ Feature

#35 feat: API 기본 설정 및 로그인 관련 로직을 구현한다
  .env.example
  src/app/App.tsx
  src/app/hooks/useAuthBootstrap.ts
  src/entities/member/api/myInfo.ts
  src/entities/member/hooks/useMyInfo.ts
  src/entities/subscription/api/fetchProducts.ts
  src/entities/subscription/hook/useProducts.ts
  src/features/subscription-register/step2-service/StepService.tsx
  src/pages/home/HomePage.tsx
  src/pages/login/LoginPage.tsx
  src/pages/subscriptions/SubscriptionPage.tsx
  src/shared/api/apiClient.ts
  src/shared/api/authInterceptors.ts
  src/shared/api/error.ts
  src/shared/api/queryClient.ts
  src/shared/api/tokenManager.ts
  src/shared/config/error-codes.ts
  src/widgets/payment-summary/ui/PaymentSummaryBlock.tsx
  src/widgets/subscription-detail/ui/SubscriptionDetailWidget.tsx
  src/widgets/subscription-register/SubscriptionRegisterWidget.tsx
Labels: ✨ Feature, 📨 Api

#40 feat: 혜택 상세 페이지와 비교 결과 섹션을 구현한다
  package.json
  pnpm-lock.yaml
  src/app/providers/AppRouter.tsx
  src/entities/comparison/model/types.ts
  src/entities/product/api/fetchProductsInfo.ts
  src/entities/product/api/fetchProductsRecommendations.ts
  src/entities/product/hooks/usePlans.ts
  src/entities/product/hooks/useProducts.ts
  src/entities/product/hooks/useProductsCategories.ts
  src/entities/product/hooks/useProductsInfo.ts
  src/entities/product/hooks/useProductsRecommendations.ts
  src/features/comparison-add/ComparisonAddCard.tsx
  src/features/comparison-select/ComparisonSelectCard.tsx
  src/pages/comparison/ComparisonAddPage.tsx
  src/pages/comparison/ComparisonPage.tsx
  src/pages/subscriptions/BenefitDetailPage.tsx
  src/pages/subscriptions/index.ts
  src/shared/api/apiClient.ts
  src/shared/config/routes.ts
  src/shared/hooks/useBenefitKeys.ts
  src/shared/lib/getBenefitKeys.ts
  src/shared/lib/parseBenefit.ts
  src/shared/ui/bottom-navigation/BottomNavigation.tsx
  src/shared/ui/button/Button.tsx
  src/shared/ui/contents-card/ContentsCard.tsx
  src/shared/ui/dropdown/Dropdown.tsx
  src/shared/ui/filter/Filter.tsx
  src/shared/ui/layout/MobileLayout.tsx
  src/widgets/comparison-card/model/types.ts
  src/widgets/comparison-card/ui/ComparisonAddCard.tsx
  src/widgets/comparison-section/model/types.ts
  src/widgets/comparison-section/ui/ComparisonAddedSection.tsx
  src/widgets/comparison-section/ui/ComparisonMySubSection.tsx
  src/widgets/comparison-section/ui/ComparisonResultSection.tsx
  src/widgets/comparison-section/ui/RecommendSubSection.tsx
  src/widgets/subscription-detail/ui/BenefitList.tsx
Labels: ✨ Feature, 📨 Api

#43 feat: deploy github action을 설정한다
  .github/workflows/deploy.yml
  eslint.config.js
  src/entities/product/hooks/useProductsRecommendations.ts
  src/features/subscription-register/step2-service/StepService.tsx
  src/features/subscription-register/step3-plan/StepPlan.tsx
  src/shared/ui/button/Button.tsx
Labels: ✨ Feature, ⚙️ Setting

#48 feat: 구독 상세보기와 상세보기 수정 페이지의 로직 및 렌더링을 구현한다.
  .github/workflows/deploy.yml
  src/entities/product/api/fetchPlans.ts
  src/entities/subscription/api/fetchSubscriptionDetail.ts
  src/entities/subscription/api/updateSubscription.ts
  src/entities/subscription/hook/useSubscriptionDetail.ts
  src/entities/subscription/hook/useToggleFavorite.ts
  src/entities/subscription/hook/useUpdateSubscription.ts
  src/features/subscription-register/step4-confirm/StepConfirm.tsx
  src/pages/subscriptions/SubscriptionDetailPage.tsx
  src/pages/subscriptions/SubscriptionEditPage.tsx
  src/shared/ui/service-identity/ServiceIdentity.tsx
  src/widgets/payment-edit/SubscriptionEditWidget.tsx
  src/widgets/payment-edit/index.ts
  src/widgets/subscription-detail/ui/SubscriptionDetailWidget.tsx
  src/widgets/subscription-list/ui/SubscriptionsSection.tsx
Labels: ✨ Feature, 📨 Api, ⚙️ Setting

#57 feat: 라우팅 처리 및 홈 페이지 수정
  src/app/App.tsx
  src/app/hooks/useLogout.ts
  src/app/providers/AppRouter.tsx
  src/app/router/ProtectedRoute.tsx
  src/features/comparison-select/MySubscriptionCard.tsx
  src/pages/home/HomePage.tsx
  src/pages/login/LoginPage.tsx
  src/pages/my/MyPage.tsx
  src/shared/api/authInterceptors.ts
  src/shared/store/authStore.ts
  src/shared/store/useStore.ts
  src/shared/ui/button/KakaoLoginButton.tsx
Labels: ✨ Feature, 📨 Api

#64 feat: 이미지 URL이 없으면 바로 이니셜 fallback이 표시
  src/shared/ui/service-identity/ServiceIdentity.tsx
  src/widgets/subscription-list/ui/SubscriptionsSection.tsx
Labels: 🐛 BugFix

#65 feat: 토스트 팝업을 구현한다
  package.json
  pnpm-lock.yaml
  src/app/App.tsx
  src/pages/comparison/ComparisonAddPage.tsx
  src/pages/comparison/ComparisonPage.tsx
  src/pages/my/EmailEditPage.tsx
  src/pages/my/MyPage.tsx
  src/pages/subscriptions/BenefitDetailPage.tsx
  src/pages/subscriptions/SubscriptionEditPage.tsx
  src/pages/subscriptions/SubscriptionPage.tsx
  src/shared/ui/carousel/Carousel.tsx
  src/shared/ui/layout/MobileLayout.tsx
  src/shared/ui/toast/Toaster.tsx
  src/widgets/comparison-section/ui/ComparisonAddedSection.tsx
  src/widgets/comparison-section/ui/ComparisonResultSection.tsx
  src/widgets/payment-summary/ui/PaymentSummaryBlock.tsx
  src/widgets/subscription-detail/ui/SubscriptionDetailWidget.tsx
  src/widgets/subscription-list/ui/SubscriptionsSection.tsx
  src/widgets/subscription-register/SubscriptionRegisterWidget.tsx
Labels: ✨ Feature

#70 fix: 비교 페이지 내구독 섹션에서 커스텀 구독 제외한다
  src/entities/subscription/api/fetchMySubscription.ts
  src/pages/comparison/ComparisonPage.tsx
Labels: ✨ Feature, 📨 Api

#71 filx: 비교 페이지 이슈 해결
  src/entities/subscription/api/fetchMySubscription.ts
  src/pages/comparison/ComparisonPage.tsx
Labels: 📨 Api
